html {
  overflow-x: hidden;
}

/* <--header-section start---> */
.header-section ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  gap: 25px;
}
.header-section ul li {
  list-style: none;
}
.header-section ul li a {
  border-radius: 10px;
  padding: 12px 25px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
  text-decoration: none;
}
.header-logo-section {
  width: 95px;
  height: 95px;
}
.header-logo-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-section-btn .footer-section-btn .dropdown button {
  box-shadow: unset !important;
  background: unset !important;
  border: unset !important;
}
.header-section-btn .network-dropdown {
  margin-bottom: 0px !important;
}
.header-section ul li a.active {
  background: #1883ff;
  color: #fff;
}
.mobile-header-section-btn .navbar-toggler {
  border: unset !important;
}
.mobile-header-section-btn .navbar-toggler:focus {
  box-shadow: unset !important;
}
.mobile-header-section-btn .navbar-toggler-icon {
  background-image: url(../Images/menu-bar.png) !important;
}
/* <--header-section End---> */
/* <--main-section start---> */
.main-section {
  background: #eef6ff;
  padding: 62px 0px 0px;
}
.main-title-section h1 {
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  font-style: normal;
  margin: 55px 0px 80px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-family: "Inter";
}
.main-title-section h1 .defualt-color {
  color: #31cba1;
}
.main-title-section h1 .defualt-color-2 {
  color: #1883ff;
}
.main-section-background {
  background: url(../Images/main-background.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 490px;
}
/* <--main-section End---> */
/* About-section */
.about-after-img {
  width: 340px !important;
  background: url(../Images/about-after-img.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  right: 0px !important;
  left: unset !important;
}
.about-section {
  padding: 0px 0 100px;
  position: relative;
}
.about-section .about-heading {
  padding: 100px 0 50px 0;
}
.about-section .about-heading h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 175%;
}
.about-section .about-heading h1 span {
  text-transform: uppercase;
}
.about-section .about-heading h1 .first-text {
  color: #1883ff;
}
.about-section .about-heading h1 .second-text {
  color: #31cba1;
}
.about-section .instant-card {
  background: #ffffff;
  box-shadow: 0px 12px 38px rgba(8, 78, 31, 0.1);
  border-radius: 15px;
}
.about-section .instant-card .card-image {
  height: 300px;
  padding: 60px 60px 30px;
  margin: auto;
}
.about-section .instant-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-section .instant-card .card-text h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.about-section .instant-card .card-text p {
  font-weight: 500;
  font-size: 16px;
  color: #515857;
  min-height: 56px;
  text-align: center;
  margin: 0;
}
.about-section .instant-card .card-link a {
  color: #1883ff;
  text-decoration-line: underline;
  font-size: 16px;
  font-weight: 500;
}
.about-section .instant-card .card-link {
  text-align: center;
  padding: 40px 0;
}
/* /About-section */
/* eSIM-section */
.eSIM-section {
  background: url(../Images/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px;
}
.eSIM-solution {
  background: #ffffff;
  box-shadow: 0px 12px 38px rgba(8, 78, 31, 0.1);
  border-radius: 15px;
  padding: 65px 50px;
}
.eSIM-solution .eSIM-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.eSIM-solution .eSIM-image {
  width: 450px;
  margin: auto;
}
.eSIM-solution .eSIM-text {
  padding: 0 50px 0 0px;
}
.eSIM-solution .eSIM-text h2 {
  font-weight: 700;
  font-size: 36px;
  padding: 20px 0;
}
.eSIM-solution .eSIM-text .first-text {
  color: #1883ff;
}
.eSIM-solution .eSIM-text .second-text {
  color: #31cba1;
}
.eSIM-solution .eSIM-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 175.02%;
  color: #515857;
}
/* /eSIM-section */
/* <--network-section start---> */
.network-main-title {
  margin: 100px 0px 45px;
}
.network-main-title h1 {
  font-weight: 700;
  margin-bottom: 35px;
  font-size: 36px;
  font-family: "Inter";
  color: #000000;
  text-align: center;
}
.network-main-title h2 {
  font-weight: 700;
  font-style: normal;
  font-family: "Inter";
  font-size: 24px;
  color: #000000;
  margin-bottom: 45px;
}
.network-dropdown {
  margin-bottom: 24px;
}
.network-dropdown .dropdown button {
  border: 1px solid #fcfdff;
  background: #fcfdff;
  border-radius: 10px;
  color: #000000;
}
.network-before-img {
  position: absolute;
  z-index: -1;
  background: url(../Images/network-before-img.png);
  width: 350px;
  height: 350px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.Countries-img {
  width: 50px;
  height: 50px;
}
.Countries-img img {
  width: 100%;
}
.Countries-img-select {
  width: 30px;
  height: 30px;
}
.Countries-img-select img {
  width: 100%;
}
.network-dropdown .dropdown button:focus {
  box-shadow: unset;
}
.network-button {
  text-align: center;
  margin-top: 35px;
}
.network-button button {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter";
  color: #31cba1;
  border: 1px solid #0062ff;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px 40px;
}
/* <--network-section End---> */
/* <--netto-work-section start---> */
.netto-work-background-section {
  width: 100%;
  background: linear-gradient(351.64deg, #36e1b3 -15.73%, #1883ff 118.6%);
  margin-top: 100px;
  padding: 50px 50px 100px;
}
.netto-work-title h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter";
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
}
.netto-work-contain {
  background: #ffffff;
  box-shadow: 0px 12px 38px rgba(8, 78, 31, 0.1);
  border-radius: 15px;
  padding: 20px 10px 0px;
}
.netto-work-contain h6 {
  font-size: 21px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 35px;
  color: #31cba1;
  text-align: center;
}
.netto-work-contain p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter";
  text-align: center;
  color: #1883ff;
  line-height: 35px;
  min-height: 50px;
}
.netto-work-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.netto-work-img {
  width: 100%;
  height: 340px;
}
.netto-work-background-section .owl-nav {
  opacity: 0;
}
/* <--netto-work-section end---> */
/* <--supported-section start---> */
.Supported-main-title {
  margin: 70px 0px;
}
.supported-section {
  margin-bottom: 250px;
  position: relative;
}
.supported-img-section {
  width: 100%;
  height: auto;
}
.supported-img-section img {
  width: 100%;
  height: 100%;
}
.supported-tab-section {
  margin-top: 35px;
}
.supported-tab-section .nav-tabs {
  border-bottom: 0px;
  gap: 20px;
}
.supported-tab-section .nav-tabs button {
  background: #f4f8ff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  font-family: "Inter";
  padding: 8px 19px;
}
.supported-tab-section .nav-tabs button.active {
  background: linear-gradient(158.73deg, #36e1b3 14.79%, #1883ff 100.89%);
  color: #ffffff;
}
.phone-supported-devise {
  background: #f4f8ff;
  border-radius: 15px;
  padding: 25px 20px 10px;
}
.phone-supported-devise-data p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  margin: 10px 0px;
}
.supported-devise ul li {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter";
}
.phone-supported-devise-data ul li {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter";
  margin-bottom: 8px;
}
.phone-supported-section h1 {
  font-weight: 700;
  font-style: normal;
  font-family: "Inter";
  font-size: 32px;
  color: #000000;
  margin-bottom: 15px;
}
.phone-supported-section p {
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
}
/* <--supported-section End---> */
/* connected-section-start */
.connected-section {
  margin: 0px 0px 180px;
}
.connected-section .display-item {
  justify-content: center;
}
.connected-section .connected-backgroung {
  background-image: url("../Images/connected-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: auto;
  padding: 65px;
}
.connected-section .connected-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.connected-section .connected-img .image1 {
  width: 485px;
  position: absolute;
  top: -190px;
}
.connected-section .connected-img {
  padding: 0 0 0px 0px;
  position: relative;
}
.connected-section .connected-text h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 63px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}
.connected-section .connected-text p {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}
.connected-playstore img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.connected-playstore {
  width: 126px;
  height: 36px;
}
.connected-main-text {
  margin: 0 0px 0 0;
}
.connected-link {
  gap: 15px;
}
/* /connected-section-end */
/* footer-section-start */
.footer-section {
  background: #f1f8ff;
  padding: 110px 0px 50px;
}
.footer-logo {
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-logo-section p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: 25px;
  margin-right: 40px;
}
.footer-media-section p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: 25px;
}
.footer-media-section ul {
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.footer-media-section ul li {
  list-style: none;
}
.footer-media-section ul li a img {
  width: 24px;
  object-fit: contain;
}
.footer-section-btn .dropdown button {
  gap: 15px;
  box-shadow: 0px 11px 17px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.footer-section-btn .Countries-img {
  width: 30px;
  height: 30px;
}
.footer-section-btn .dropdown-menu {
  min-width: auto;
}
.Popular-Countries-section h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  line-height: 30px;
  margin-bottom: 15px;
  color: #1883ff;
}
.Popular-Countries-section ul {
  padding: 0px;
}
.Popular-Countries-section ul li {
  margin-bottom: 15px;
  list-style: none;
}
.Popular-Countries-section ul li a {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: "Inter";
  text-decoration: none;
  color: #000000;
}
.netto-website-update p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 17px;
  color: #000000;
  margin: 0px;
  text-align: center;
}
.netto-website-update {
  padding: 40px 0px;
  border-top: 1px solid #cae2ff;
  margin-top: 40px;
}
/* footer-section-end */

/* PrivacyPolicy-section-start */
.PrivacyPolicy-bg {
  background: url(../Images/page-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  width: 100%;
  background-position: bottom;
}
.PrivacyPolicy-title h1 {
  line-height: 58px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.PrivacyPolicy-data-section {
  margin-top: 150px;
}
.PrivacyPolicy-data h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Inter";
}
.PrivacyPolicy-data h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: "Inter";
}
.PrivacyPolicy-data p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 34px;
  font-family: "Inter";
}
.Definition-section {
  margin-top: 25px;
  margin-bottom: 250px;
}
.Definition-section h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
}
.Definition-section h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
}
.Definition-section h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  margin: 25px 0px;
}
.Definition-section p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 34px;
  font-family: "Inter";
}
.Definition-section label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 20px;
  font-family: "Inter";
  display: block;
}
.main-new-header-section .header-logo-section {
  width: 50px;
  height: 50px;
}
.main-new-header-section .header-section ul {
  gap: 0px;
  justify-content: space-around;
}
.PrivacyPolicy-main-section {
  padding: 20px 0px 20px;
  background: #fff;
}
/* PrivacyPolicy-section-end */

/* Device-support-about-section-start */
.Device-support-about {
  background: #fafafa;
  border-radius: 15px;
  width: 100%;
  margin: 50px 0px 35px;
  padding: 15px 60px 0px;
  position: relative;
  overflow: hidden;
}
.Device-support-about-data h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 85px;
  color: #000000;
  margin-bottom: 25px;
}
.Device-support-about-data p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter";
  color: #515857;
  line-height: 35px;
}
.Device-support-about-img {
  width: 100%;
  height: 420px;
}
.Device-support-about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Device-support-about-data-img {
  position: absolute;
  top: 0px;
  width: 800px;
  left: -39px;
  height: 100%;
}
.Device-support-about-data-img img {
  width: 100%;
  height: 100%;
}
/* Device-support-about-section-end */

/* Device-support-phone-section-start */
.Device-support-phone-bg {
  background: #fafafa;
  border-radius: 15px;
  padding: 25px 20px;
  margin-bottom: 30px;
  min-height: 270px;
}
.Device-support-phone-bg h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter";
  color: #000000;
  line-height: 35px;
  margin-bottom: 20px;
}
.Device-support-phone-bg h6 sup {
  top: 0px;
  color: #ff0000;
  font-size: 20px;
}
.Device-support-phone-data ul li sup {
  top: 0px;
  color: #ff0000;
  font-size: 16px;
}
.Device-support-phone-bg p {
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  color: #000000;
  margin: 0px;
}
.Device-support-phone-bg p sup {
  top: 0px;
  color: #ff0000;
  font-size: 16px;
}
.Device-support-phone-data ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.Device-support-phone-data ul li {
  line-height: 36px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
  color: #6f6f6f;
}
.Device-support-phone-data ul li::marker {
  font-size: 12px;
}
.Device-support-phone-note {
  background: #ecf5ff;
  border-radius: 10px;
  padding: 15px 15px 0px;
}
.Device-support-phone-data {
  margin-bottom: 20px;
}
.Device-support-phone-note {
  margin: 20px 0px;
}
.Device-support-phone-note ul {
  margin: 0;
  padding-left: 20px;
}
.Device-support-phone-note ul li {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: "Inter";
  color: #000000;
  padding-bottom: 15px;
}
.Device-support-windows-title h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter";
  color: #000000;
  line-height: 40px;
  margin: 20px 0px 50px;
}
.Device-support-phone-last-section {
  margin-bottom: 190px;
}
/* Device-support-phone-section-End */

/*Coverage-page-start*/
.Coverage-search-input-box {
  width: 100%;
  padding: 18px 22px;
  background: #fff;
  border: 1px solid #cddeff;
  border-radius: 10px;
  margin-top: 85px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.Coverage-search-input-box img {
  width: 24px;
  height: 24px;
}
.Coverage-search-input-box input {
  border: 0px;
  outline: unset;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  width: 100%;
}
.coverage-countries-section {
  margin: 50px 0px 250px;
}
/*Coverage-page-end*/

/*Installtion-page-start*/
.Installation-section .Installation-bg {
  background: url(../Images/page-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  width: 100%;
}
.Installation-title h1 {
  line-height: 58px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.Installation-title .Installation-btn {
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Installation-title .Installation-btn a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  padding: 12px 50px;
  margin: 35px 0 0 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 284px;
  text-align: center;
}
.Installation-title .Installation-btn .Iphone-btn {
  background-color: #1883ff;
}
.Installation-title .Installation-btn .Google-btn {
  background-color: #36e1b3;
}
.Iphone-Installation-text-section {
  margin: 100px 0 200px 0;
}
.Iphone-Installation-text-section .Iphone-Installation-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.Iphone-Installation-text-section .Iphone-Installation-text h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
.Iphone-Installation-text .method-heading {
  margin: 30px 0;
}
.Iphone-Installation-text-section .Iphone-Installation-text span {
  color: #31cba1;
  font-weight: 600;
}
.Iphone-Installation-text-section .step-heading h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 198.8%;
  color: #31cba1;
  margin: 35px 0 25px 0;
}
.Iphone-Preparation .Preparation_step li {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
.Iphone-Preparation .Preparation_step ol {
  padding: 0 15px;
}
.Iphone-Installation .Iphone-Qr-method h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 198.8%;
  color: #1883ff;
}
.Iphone-Installation .Iphone-Qr-method ul {
  list-style: none;
  padding: 0;
}
.Iphone-Installation .Iphone-Qr-method ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
.Iphone-Installation .Iphone-Qr-method ul li span {
  color: #31cba1;
}
.Iphone-Qr-method .method-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Iphone-Qr-method .method-image .method-img {
  height: 510px;
  margin: 35px 0;
}
.Iphone-Qr-method .method-image .method-size {
  height: 510px;
  margin: 35px 0;
}
.Iphone-Qr-method .manual_point ul {
  list-style-type: disc;
  padding: 15px 50px;
}
.method-image {
  gap: 80px;
  display: flex;
}
.Installation-title .Installation-btn .google-iphone-btn {
  background-color: #36e1b3;
}
.Installation-title .Installation-btn .google-page-btn {
  background-color: #1883ff;
}
/*Installtion-page-End*/

/*helpcenter-page-Start*/
.helpcenter-search-input-box {
  margin: 90px 0px 50px;
}
.helpcenter-netto-about-box {
  background: #ffffff;
  border: 1px solid #ebf2ff;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0px 51px 38px rgba(8, 78, 31, 0.03);
  border-radius: 15px;
  padding: 45px 0px;
  width: 100%;
}
.helpcenter-netto-about-icon {
  width: 80px;
  height: 80px;
  margin: 0px auto 25px;
}
.helpcenter-netto-about-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.helpcenter-netto-about-box h4 {
  font-weight: 700;
  font-size: 24px;
  font-family: "Inter";
  color: #1883ff;
  line-height: 40px;
  margin: 0px;
  text-align: center;
}
.Popular-questions-title h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Inter";
  color: #000000;
  line-height: 50px;
  margin: 10px 0px 40px;
}
.Popular-questions-accordion .accordion-item {
  border: 1px solid #ebf2ff !important;
  margin-bottom: 25px;
  border-radius: 15px !important;
  box-shadow: 0px 51px 38px rgb(8 78 31 / 3%);
}
.Popular-questions-accordion .accordion-item .accordion-button:focus {
  box-shadow: unset;
  border-color: unset;
  border: unset !important;
}
.Popular-questions-accordion .accordion-item .accordion-button {
  box-shadow: unset;
  border-color: unset;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  color: #000 !important;
}
.Popular-questions-accordion .accordion-item .accordion-button {
  background: unset !important;
  box-shadow: unset;
}
.Popular-questions-accordion .accordion-item .accordion-body {
  padding: 0px 25px;
}
.Popular-questions-accordion .accordion-item .accordion-body p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Inter";
  color: #3f4b5b;
}
.Popular-questions-accordion .accordion-item .accordion-button::after {
  background-image: url(../Images/accordion-plus-circle.png);
}
.Popular-questions-accordion
  .accordion-item
  .accordion-button:not(.collapsed)::after {
  background-image: url(../Images/accordion-minus-circle.png);
}
.Popular-questions-accordion {
  margin-bottom: 125px;
}
.main-section .main-header-section.sticky {
  position: fixed;
  top: 0;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 12px 38px rgb(8 78 31 / 10%);
  z-index: 99;
  width: 100%;
}
.mobile-header {
  display: none !important;
}
/*helpcenter-page-End*/

/*Contact-Us-page-start*/
.new-location-section {
  position: relative;
}
.contact-location-box {
  background: #ffffff;
  min-height: 280px;
  padding: 30px 20px 20px;
  margin: 65px 0;
  border: 1px solid #ebf2ff;
  box-shadow: 0px 51px 38px rgba(8, 78, 31, 0.03);
  border-radius: 15px;
}
.contact-location-box-img {
  margin: 0 auto 40px;
  height: 80px;
  width: 80px;
}
.contact-location-box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact-location-box p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.contant-info-heading {
  text-align: center;
  margin-bottom: 65px;
}
.conatant-info .contant-info-heading h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 175.02%;
}
.conatant-info .contact-form-section {
  background: #ffffff;
  box-shadow: 0px 12px 38px rgba(8, 78, 31, 0.1);
  border-radius: 15px;
  padding: 45px 35px;
}
.contact-form-section .input-group-text img {
  width: 25px;
  height: 25px;
}
.contact-form-section .form-control {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: #595959 !important;
}
.contact-form-section .input-group input {
  padding: 11px 15px;
  border: 1px solid #eeeeee;
  outline: unset;
  margin-bottom: 25px;
  height: 50px;
}
.contact-form-section .input-group-text {
  background-color: #ffffff !important;
  border-left: none !important;
  border: 1px solid #eeeeee !important;
  height: 50px;
}
.contact-form-section .form-control {
  border-right: none !important;
}
.contact-form-section .input-group textarea {
  padding: 11px 15px;
  border: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee !important;
}
.contact-form-section .our-apps-more-btn {
  margin-top: 25px !important;
}
.contact-form-section .our-apps-more-btn img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.contact-form-section .our-apps-more-btn button {
  background: #1883ff;
  border-radius: 8px;
  border: none;
  padding: 12px 30px;
}
.contact-form-section .our-apps-more-btn button a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.011em;
  color: #ffffff;
}
.new-contact-map-section {
  position: relative;
  margin-top: -180px;
  z-index: -1;
}
.new-contact-map-section img {
  width: 100%;
  height: 100%;
}
.input-group .form-control:focus {
  box-shadow: unset;
}
/*Contact-Us-page-End*/

/*Google-Installtion-page-start*/
.Google-Installation-section .Google-Installation-bg {
  background: url(../Images/page-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 20px;
  width: 100%;
}
.Google-Installation-title h1 {
  line-height: 58px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter";
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.Google-Installation-text-section {
  margin: 100px 0 150px 0;
}
.Google-Installation-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.Google-Installation-text h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
.Google-Installation-text .method-heading {
  margin: 30px 0;
}
.Google-Installation-text-section .span-color span {
  color: #31cba1;
  font-weight: 600;
}
.Google-Installation-text-section .step-heading h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 198.8%;
  color: #31cba1;
  margin: 35px 0 25px 0;
}
.Google-Installation-text-section .step-heading .color {
  color: #1883ff;
}
.Google-Preparation .Preparation_step li {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
.Google-Preparation .Preparation_step ol {
  padding: 0 15px;
}
.installation-image {
  gap: 60px;
}
.Google-method .installation-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Google-method .installation-image .installation-img {
  height: 510px;
  margin: 35px 0;
}
.Google-Installation .Google-method ul li span {
  color: #31cba1;
}
.Google-Installation .Google-method h6 {
  padding: 0 0 25px 0;
}
.Google-Preparation .heading-color {
  color: #1883ff !important;
}
.Google-Installation .Google-method ul {
  list-style: none;
  padding: 0;
}
.Google-Installation .Google-method ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 198.8%;
}
/*Google-Installtion-page-End*/

.helpcenter-answers-page {
  display: none;
}
.helpcenter-answers-page {
  padding: 80px 0px;
}
.helpcenter-questions-data {
  margin-top: 70px;
}
.helpcenter-answers-data {
  margin-top: 70px;
}
.main-back-questions {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.main-back-questions img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.main-back-questions h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
  margin-bottom: 0px;
}
.helpcenter-answers-header-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.helpcenter-answers-header-title h6 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
  margin-bottom: 0px;
}
.helpcenter-answers-header-title img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.helpcenter-questions-data .nav {
  display: block;
}
.helpcenter-questions-data .nav-tabs {
  border: 0px;
}
.helpcenter-questions-data .nav button {
  border: 0px;
  color: #3f4b5b;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding: 0 0 15px 0px;
}
.helpcenter-questions-data .nav button.active {
  color: #1883ff;
  font-weight: 700;
}
.helpcenter-questions-data .helpcenter-questions-data-box {
  background: #ffffff;
  border: 1px solid #ebf2ff;
  box-shadow: 0px 51px 38px rgba(8, 78, 31, 0.03);
  border-radius: 15px;
  padding: 40px;
}
.helpcenter-answers-data .tab-content {
  background-color: unset;
}
.helpcenter-answers-data .tab-content .tab-pane h1 {
  font-size: 32px;
  font-weight: 600;
  color: #210b04;
  margin-bottom: 20px;
}
.helpcenter-answers-data .tab-content .tab-pane.active h1 {
  font-size: 32px;
  font-weight: 600;
  color: #36e1b3;
  margin-bottom: 20px;
}
