@media(max-width:1399px){
    .connected-section .connected-text h2{    font-size: 28px;    line-height: 50px;}
    .connected-section .connected-backgroung{padding: 65px 50px;}
    .connected-section .connected-img .image1{    width: 440px;    top: -150px;}
    .header-section ul{gap: 0px;justify-content: end;}
    .header-logo-section{width: 65px;height: 65px;}
    .Device-support-about-img{height: auto;}
    .Device-support-phone-last-section{margin-bottom: 150px;}
    .helpcenter-netto-about-box h4{font-size: 20px;}
    .Popular-questions-title h1{font-size: 30px;}
    .coverage-countries-section{margin: 0px 0px 160px;}
    .Definition-section{margin-bottom: 160px;}
    .Iphone-Installation-text-section{margin-bottom: 160px;}
}
@media(max-width:1199px){
    .supported-tab-section .nav-tabs{gap: 10px;}
    .phone-supported-section h1{font-size: 30px;}
    .about-section .instant-card .card-image{padding: 60px 20px 30px;height: 330px;}
    .about-section .instant-card .card-text h2{font-size: 20px;}
    .eSIM-solution .eSIM-image{width: 350px;}
    .eSIM-solution .eSIM-text{padding: 0px;}
    .eSIM-solution .eSIM-text h2{font-size: 30px;}
    .connected-section .connected-img .image1{width: 460px;top: -135px;}
    .Popular-Countries-section h6{font-size: 15px;}
    .Popular-Countries-section ul li a{font-size: 13px;}
    .footer-logo-section p{font-size: 13px;}
    .header-section ul li a{padding: 12px 20px;font-size: 15px;}
    .contact-location-box p{font-size: 18px;}
    .main-back-questions h5{font-size: 17px;}
    .helpcenter-answers-header-title h6{font-size: 17px;}
    .main-back-questions img{width: 17px;height: 17px;}
    .header-section-btn .footer-section-btn .dropdown button{gap: 0px;padding: 0px;}
    .PrivacyPolicy-data-section{margin-top: 100px;}

}
@media(max-width:991px){
    .netto-work-title h1{font-size: 30px;line-height: 50px;margin-bottom: 30px;}
    .main-title-section h1{font-size: 30px;line-height: 60px;margin: 50px 0px;}
    .about-section .about-heading h1{font-size: 30px;line-height: 60px;}
    .about-section{margin: 0px 0px;}
    .main-section-background{height: 400px;}
    .network-main-title h1{font-size: 30px;}
    .network-main-title{ margin: 60px 0px 0px;}
    .about-card{justify-content: center;}
    .eSIM-solution .eSIM-image{width: 310px;}
    .eSIM-solution{padding: 50px 25px;}
    .eSIM-section{padding: 100px 0px;}
    .connected-section .connected-backgroung{padding: 35px 30px;}
    .connected-section .connected-img .image1{width: 350px;top: -80px;}
    .connected-section .connected-text h2{font-size: 24px;line-height: 40px;}
    .connected-section .connected-text p{font-size: 17px;}
    .footer-logo-section p{margin-right: 0px;}
    .main-section{padding: 0px 0px 0px;}
    .mobile-header{display: block !important;}
    .display-header-section{display: none !important;}
    .mobile-header-section-btn{display: flex;align-items: center;gap:0px;}
    .mobile-header-section ul li{list-style: none;margin-bottom: 20px;}
    .mobile-header-section ul{margin-top: 25px;}
    .mobile-header-section ul li a.active{color: #1883FF;font-weight: 700;}
    .mobile-header-section ul li a{font-weight: 500;font-family: 'Inter';text-decoration: none;border-radius: 10px;color: black; }
    .main-section .main-header-section.sticky{padding: 0px;}
    .supported-img-section{height: 600px;margin-top: 50px;}
    .supported-img-section img{object-fit: contain;}
    .supported-section{margin-bottom: 160px;}
    .Device-support-about-data h1{font-size: 30px;line-height: 50px;}
    .Device-support-about-data p{font-size: 18px;line-height: 30px;}
    .Device-support-about-data-img{width: 500px;}
    .Device-support-phone-last-section{margin-bottom: 100px;}
    .connected-section{margin-bottom: 100px;}
    .Coverage-search-input-box{margin-top: 50px;}
    .PrivacyPolicy-title h1{font-size: 30px;}
    .PrivacyPolicy-bg{padding: 65px 0px;}
    .coverage-countries-section{margin: 0px 0px 160px;}
    .helpcenter-netto-about-box h4{font-size: 15px;}
    .Popular-questions-accordion .accordion-item .accordion-button{font-size: 16px;}
    .Popular-questions-accordion .accordion-item .accordion-body p{font-size: 14px;}
    .contact-location-box{padding: 20px 10px 20px;margin: 60px 0px;}
    .contact-location-box p{font-size: 16px;line-height: 24px;}
    .contant-info-heading{margin-bottom: 60px;}
    .Definition-section{margin-bottom: 100px;}
    .Installation-title h1{font-size: 30px;}
    .Installation-section .Installation-bg{padding: 65px 15px;}
    .Installation-title .Installation-btn a{padding: 12px 15px;}
    .Iphone-Installation-text-section{margin:60px 0px 100px;}
    .Google-Installation-text-section{margin:60px 0px 100px;}
}
@media(max-width:767px){
    .network-main-title h2{text-align: center;}
    .supported-tab-section .nav-tabs{gap: 15px;}
    .about-section .instant-card .card-text p{min-height: auto;}
    .network-main-title h1{margin-bottom: 30px;}
    .eSIM-solution .eSIM-image{margin: 0px auto 30px;}
    .eSIM-section{padding: 65px 0px;}
    .connected-section .connected-img .image1{position: initial;margin: auto;}
    .connected-section .connected-text h2{text-align: left;}
    .connected-section .connected-text p{text-align: left;}
    .connected-main-text .connected-link{justify-content: left !important;}
    .connected-section .connected-img{padding-bottom: 25px;}
    .connected-section .connected-backgroung{padding: 50px 30px;}
    .netto-work-contain p{font-size: 15px;}
    .netto-work-background-section{padding: 50px 25px 100px;}
    .Device-support-about-data-img{display: none;}
    .Device-support-windows-title h1{margin: 20px 0px 30px;}
    .Device-support-phone-bg{min-height: auto !important;}
    .coverage-countries-section{margin: 0px 0px 100px;}
    .helpcenter-netto-about-box h4{font-size: 17px;}
    .Popular-questions-accordion .accordion-item .accordion-button{font-size: 15px;}
    .Popular-questions-title h1{font-size: 25px;}
    .Popular-questions-accordion{margin-bottom: 100px;}
    .contact-location-box{min-height: auto;margin: 0px 0px 30px;}
    .new-contact-section{margin: 60px 0px 0px;}
    .contant-info-heading{margin-bottom: 30px;}
    .conatant-info .contant-info-heading h1{font-size: 30px;}
    .conatant-info .contact-form-section{padding: 40px 15px;}
    .Device-support-about{padding: 15px 25px 0px;}
    
    
    
}
@media(max-width:576px){
    .netto-work-img{height: 420px;}
    .supported-img-section{height: auto;}
    .supported-section{margin-bottom: 100px;}
    .connected-section{margin-bottom: 100px;}
    .Device-support-windows-title h1{font-size: 20px;}
    .network-button button{font-size: 14px;}
    .main-back-questions{margin-bottom: 20px;}
    .helpcenter-questions-data{margin-top: 40px;}
    .helpcenter-answers-data{margin-top: 40px;}
    .contact-location-box-img{height: 60px;width: 60px;}
    .helpcenter-netto-about-icon{height: 60px;width: 60px;}
    .new-contact-map-section{margin-top: -80px;}
    .PrivacyPolicy-data h1{font-size: 25px;}
    .PrivacyPolicy-data-section{margin-top: 60px;}
    .method-image{gap: 20px;}
    .installation-image{gap: 20px;}
    .Google-method .installation-image .installation-img{height: 450px; margin: 15px 0px;}
    .Iphone-Qr-method .method-image .method-img{height: auto; margin: 15px 0px;}
    .Iphone-Qr-method .method-image .method-size{height: auto; margin: 15px 0px;}
}
@media(max-width:475px){
    .Installation-title .Installation-btn{flex-flow: wrap;margin-top: 50px;}
    .Installation-title .Installation-btn a{margin: 0;}
    .Installation-title h1{line-height: inherit;}
}
@media(max-width:425px){
    .netto-work-title h1{font-size: 25px;line-height: 50px;}
    .phone-supported-section h1{font-size: 25px;line-height: 50px;}
    .main-title-section h1{font-size: 25px;line-height: 50px;}
    .network-main-title h1{font-size: 25px;}
    .supported-devise ul{padding: 10px;}
    .about-section .about-heading h1{font-size: 25px;line-height: 50px;}
    .about-section .instant-card .card-image{height: auto;}
    .about-section .instant-card .card-text h2{padding: 20px 10px;line-height: 30px;}
    .about-section .instant-card .card-text p{padding: 0px 10px;}
    .eSIM-solution .eSIM-text h2{font-size: 25px;text-align: center;}
    .eSIM-solution .eSIM-text p{text-align: start;}
    .connected-section .connected-img .image1{width: 100%;}
    .connected-section .connected-backgroung{padding: 50px 15px; border-radius: 15px;}
    .connected-section .connected-text h2 {font-size: 20px;line-height: 35px;}
    .about-section .about-heading{padding: 60px 0 50px 0;}
    .about-section{padding-bottom: 60px;}
    .netto-work-background-section{margin-top: 60px;}
    .Google-method .installation-image .installation-img{height: 400px; margin: 15px 0px;}
    
}
@media(max-width:375px){
    .about-after-img{width: 300px !important;}
    .network-before-img{width: 300px;}
    .eSIM-solution .eSIM-image{width: 250px;}
    .Popular-questions-title h1{text-align: center;}
    .Google-method .installation-image .installation-img{height: 320px; margin: 15px 0px;}
}